.about{
    width: 80%;
    margin: 0 auto;
    padding: 80px 0;
    display: flex;
    gap: 23px;
    .about-content{
        width: 100%;
        h2{
            font-size: 42px;
            font-weight: 600;
            line-height: 100%;
            letter-spacing: -2%;
            margin-bottom: 36px;
        }
        p{
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 16px;
            letter-spacing: 0%;
            width: inherit;
        }
        ul li{
            font-weight: 600;
            font-size: 20px;
            line-height: 30px;
            margin-bottom: 20px;
            letter-spacing: 0;
            list-style: none;
        }
        span{
            color: #84BD3A;
            font-weight: 700;
            line-height: 100%;
            letter-spacing: 4px;
        }
    }
    .about-img{
        position: relative;
        padding-left: 40px;
        & >img{
            
            width: 469px;
            border-radius: 12px;
        }
        .img2{
            width: 266px;
            height: 208px;
            position: absolute;
            bottom: 13px;
            left: -15px;
            padding-top: 24px;
            padding-right: 30px;
            padding-bottom: 24px;
            padding-left: 30px;
            border-radius: 12px;
            background: #FFBB1C;
            P{
                font-weight: 500;
                font-size: 16px;
                line-height: 100%;
                margin-top: 10px;
                color: #2A3334;
            }
        }
    }
}
@media screen and (max-width: 576px) {
    /* Styles for phones */
    .about{
        /* flex-direction: column; */
        flex-wrap: wrap;
        .about-img{
            width: 100%;
            .img1{
                img{
                    width: 100%;
                height: auto;
                }
            }
            padding: 0;
        }
    }
}

@media screen and (max-width: 1200px) {
    /* Styles for medium devices */
    .about{
        /* flex-direction: column; */
        flex-wrap: wrap;
        .about-img{
            width: 100%;
            padding: 0;
        }
    }
}

